<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Moja Lista Zadań</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap">
</head>

<body>
    <div class="container">
        <header>
            <h1>Zadania do wykonania</h1>
        </header>

        <div class="input-group">
            <input type="text" id="taskInput" placeholder="Co masz dzisiaj do zrobienia?">
            <button id="addBtn">Dodaj</button>
        </div>

        <div class="todo-list-container">
            <ul id="todoList">
                <!-- Tutaj dodawane będą zadania -->
            </ul>
        </div>
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>

</html>